header {
    background-color: #6495ed;
    padding: 12px 40px;
    color: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    padding: 12px 0px;
    color: #fff;
    font-size: 20px;
}

.list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    cursor: pointer;
}